@import "_var", "_fn";

// normalize 之外的一些额外覆盖

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $base-line-height;
	color: $color-regular;
	background-color: $background-color;
	-webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure  {
	margin-top: 0;
	margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: $color-heading;
}

pre, code {
	font-family: $font-family-code;
}

a {
	color: $color-link;
	text-decoration: none;
	
	&:visited {
		color: $color-link;
	}
	
	&:hover {
		color: darken($color-link, 15%);
		text-decoration: underline;
	}
}
